@media (max-width: 35em) {
    ul.videos {
        display: block;
    }
}
@media (min-width: 35em) {
    ul.videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5em;
    }
}
@media (min-width: 40em) {
    ul.videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5em;
    }
}
@media (min-width: 60em) {
    ul.videos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.5em;
    }
}
.thumbnail {
    transition: 0.25s ease;
}
.thumbnail:hover {
    opacity: 0.5;
}
