{% let suffix -%}
{% match video_type -%}
    {% when VideoType::Short -%}
        {% let suffix = " (Shorts)" -%}
    {% when VideoType::Stream -%}
        {% let suffix = " (Streams)" -%}
    {% when VideoType::Video -%}
        {% let suffix = "" -%}
{% endmatch -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ channel.name }}{{ suffix }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <a href="/">[ytars]</a>
            &gt;
            <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
            {% match video_type -%}
                {% when VideoType::Short -%}
            &gt;
            <a href="/shorts/{{ channel.id }}">Shorts</a>
                {% when VideoType::Stream -%}
            &gt;
            <a href="/streams/{{ channel.id }}">Streams</a>
                {% when VideoType::Video -%}
            {% endmatch -%}
        </header>
        <main>
            <div style="margin-top: 1em" class="box">
                <div class="left pfp">
                    <img width="100px" src="/files/{{ channel.sanitized_name|urlencode }}/{{ channel.sanitized_name|urlencode }}%20-%20Videos%20[{{ channel.id }}].jpg">
                    <h1>{{ channel.name }}{{ suffix }}</h1>
                </div>
            </div>
            {% if let Some(text) = channel.description -%}
            {{ text|markdown }}
            {% endif -%}
            <p>{{ videos.len() }} videos</p>
            <div class="box">
                <div class="left">
                    <a href="/channel/{{ channel.id }}">[Videos]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Short">[Shorts]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Stream">[Streams]</a>
                </div>
                <div class="right">
                    <a href="https://www.youtube.com/channel/{{ channel.id }}">[Open on YouTube]</a>
                </div>
            </div>
            <hr>
            <ul>
                {% for video in videos -%}
                <li class="video">
                    <a href="/watch?v={{ video.id }}">{{ video.title }}</a> ({{ video.duration_string }})<br>
                    {{ video.upload_date }}
                </li>
                {% endfor -%}
            </ul>
        </main>
</html>
