{% let suffix -%}
{% let tab -%}
{% let video_type_param -%}
{% match video_type -%}
    {% when VideoType::Short -%}
        {% let suffix = " (Shorts)" -%}
        {% let tab = "shorts" -%}
        {% let video_type_param = "Short" -%}
    {% when VideoType::Stream -%}
        {% let suffix = " (Streams)" -%}
        {% let tab = "streams" -%}
        {% let video_type_param = "Stream" -%}
    {% when VideoType::Video -%}
        {% let suffix = "" -%}
        {% let tab = "videos" -%}
        {% let video_type_param = "Video" -%}
{% endmatch -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ channel.name }}{{ suffix }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% if show_thumbnails -%}
        <link rel="stylesheet" type="text/css" href="/static/thumbnail.css">
        {% endif -%}
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                    {% match video_type -%}
                        {% when VideoType::Short -%}
                    &gt;
                    <a href="/channel/{{ channel.id }}?video_type=Short">Shorts</a>
                        {% when VideoType::Stream -%}
                    &gt;
                    <a href="/channel/{{ channel.id }}?video_type=Stream">Streams</a>
                        {% when VideoType::Video -%}
                    {% endmatch -%}
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <div style="margin-top: 1em" class="box">
                <div class="left pfp">
                    <img width="100px" src="/files/{{ channel.sanitized_name | urlencode }}/{{ channel.sanitized_name | urlencode }}%20-%20Videos%20[{{ channel.id }}].jpg">
                    <h1>{{ channel.name }}{{ suffix }}</h1>
                </div>
                <div class="right subscribers">
                    {{ crate::structures::util::follower_count_to_string(channel.channel_follower_count) }} subscribers<br>
                    {{ video_count }} {{ tab }}
                </div>
            </div>
            {% if let Some(text) = channel.description -%}
            {{ crate::structures::util::to_html(text) | escape("none") }}
            {% endif -%}
            <div class="box">
                <div class="left">
                    <a href="/channel/{{ channel.id }}">[Videos]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Short">[Shorts]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Stream">[Streams]</a>
                </div>
                <div class="right">
                    <a href="https://www.youtube.com/channel/{{ channel.id }}">[Open on YouTube]</a>
                </div>
            </div>
            <hr>
            <div>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Latest">[Latest]</a>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Popular">[Popular]</a>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Oldest">[Oldest]</a>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Longest">[Longest]</a>
            </div>
            <p>
            <ul class="videos">
                {% for video in videos -%}
                <li class="video" {% if show_thumbnails %}style="margin-top:1em;"{% endif %}>
                    <a href="/watch?v={{ video.id }}" class="hover">
                        {% if show_thumbnails -%}
                        <div class="thumbnail">
                            <img width="100%" src="/thumbnails/video/{{ video.id }}" class="center">
                            <div class="bottom-right">
                                {{ video.duration_string }}
                            </div>
                        </div>
                        {% endif -%}
                        {{ video.title }}</a>
                    {% if !show_thumbnails %}({{ video.duration_string }}){% endif %}<br>
                    {{ video.upload_date }}
                    &middot;
                    {{ crate::structures::util::view_count_to_string(video.view_count) }} views
                    {% if likes_dislikes_on_channel_page -%}
                    &middot;
                        {% if let Some(likes) = video.likes -%}
                    {{ crate::structures::util::follower_count_to_string(likes) }} &#x25B4;
                        {% endif -%}
                        {% if let Some(dislikes) = video.dislikes -%}
                    {{ crate::structures::util::follower_count_to_string(dislikes) }} &#x25BE;
                        {% endif -%}
                    {% endif -%}
                </li>
                {% endfor -%}
            </ul>
            <div class="box">
                <div class="left">
                    {% if page > 0 -%}
                    <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort={{ sort_type }}&page={{ page - 1 }}">< Prev</a>
                    {% endif -%}
                </div>
                <div class="right">
                    {% if (page + 1) * page_size < video_count -%}
                    <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort={{ sort_type }}&page={{ page + 1 }}">Next ></a>
                    {% endif -%}
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>
