{% let suffix -%}
{% let tab -%}
{% let video_type_param -%}
{% match video_type -%}
    {% when VideoType::Short -%}
        {% let suffix = " (Shorts)" -%}
        {% let tab = "shorts" -%}
        {% let video_type_param = "Short" -%}
    {% when VideoType::Stream -%}
        {% let suffix = " (Streams)" -%}
        {% let tab = "streams" -%}
        {% let video_type_param = "Stream" -%}
    {% when VideoType::Video -%}
        {% let suffix = "" -%}
        {% let tab = "videos" -%}
        {% let video_type_param = "Video" -%}
{% endmatch -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ channel.name }}{{ suffix }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                    {% match video_type -%}
                        {% when VideoType::Short -%}
                    &gt;
                    <a href="/channel/{{ channel.id }}?video_type=Short">Shorts</a>
                        {% when VideoType::Stream -%}
                    &gt;
                    <a href="/channel/{{ channel.id }}?video_type=Stream">Streams</a>
                        {% when VideoType::Video -%}
                    {% endmatch -%}
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <div style="margin-top: 1em" class="box">
                <div class="left pfp">
                    <img width="100px" src="/files/{{ channel.sanitized_name|urlencode }}/{{ channel.sanitized_name|urlencode }}%20-%20Videos%20[{{ channel.id }}].jpg">
                    <h1>{{ channel.name }}{{ suffix }}</h1>
                </div>
                <div class="right subscribers">
                    {{ crate::structures::util::follower_count_to_string(channel.channel_follower_count) }} subscribers<br>
                    {{ videos.len() }} {{ tab }}
                </div>
            </div>
            {% if let Some(text) = channel.description -%}
            {{ text|markdown }}
            {% endif -%}
            <div class="box">
                <div class="left">
                    <a href="/channel/{{ channel.id }}">[Videos]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Short">[Shorts]</a>
                    <a href="/channel/{{ channel.id }}?video_type=Stream">[Streams]</a>
                </div>
                <div class="right">
                    <a href="https://www.youtube.com/channel/{{ channel.id }}">[Open on YouTube]</a>
                </div>
            </div>
            <hr>
            <div>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Latest">[Latest]</a>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Popular">[Popular]</a>
                <a href="/channel/{{ channel.id }}?video_type={{ video_type_param }}&sort=Oldest">[Oldest]</a>
            </div>
            <p>
            <ul>
                {% for video in videos -%}
                <li class="video" {% if show_thumbnails %}style="margin-top:1em;"{% endif %}>
                    <a href="/watch?v={{ video.id }}">
                        {% if show_thumbnails -%}
                        <img width="100%" src="/files/{{ channel.sanitized_name|urlencode }}/{{ video.filestem|urlencode }}.webp" class="center"><br>
                        {% endif -%}
                        {{ video.title }}
                    </a>
                    ({{ video.duration_string }})<br>
                    {{ video.upload_date }}
                    &middot;
                    {{ crate::structures::util::view_count_to_string(video.view_count) }} views
                </li>
                {% endfor -%}
            </ul>
        </main>
    </body>
</html>
