{% let suffix -%}
{% match video_type -%}
    {% when VideoType::Short -%}
        {% let suffix = " (Shorts)" -%}
    {% when VideoType::Stream -%}
        {% let suffix = " (Streams)" -%}
    {% when VideoType::Video -%}
        {% let suffix = "" -%}
{% endmatch -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Feed | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% if show_thumbnails -%}
        <link rel="stylesheet" type="text/css" href="/static/thumbnail.css">
        {% endif -%}
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    <a href="/feed">feed</a>
                    {% match video_type -%}
                        {% when VideoType::Short -%}
                    &gt;
                    <a href="/feed?video_type=Short">Shorts</a>
                        {% when VideoType::Stream -%}
                    &gt;
                    <a href="/feed?video_type=Stream">Streams</a>
                        {% when VideoType::Video -%}
                    {% endmatch -%}
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <h1>Feed{{ suffix }}</h1>
            <div class="box">
                <div class="left">
                    <a href="/feed">[Videos]</a>
                    <a href="/feed?video_type=Short">[Shorts]</a>
                    <a href="/feed?video_type=Stream">[Streams]</a>
                </div>
                <div class="right">
                    <a href="/preferences">[Preferences]</a>
                    <a href="/scan">[Scan]</a>
                </div>
            </div>
            <hr>
            <ul class="videos">
                {% for video in videos -%}
                <li class="video" {% if show_thumbnails %}style="margin-top:1em;"{% endif %}>
                    <a href="/watch?v={{ video.id }}&feed=true" class="thumbnail">
                        {% if show_thumbnails -%}
                        <img width="100%" src="/thumbnails/video/{{ video.id }}" class="center"><br>
                        {% endif -%}
                        {{ video.title }}</a>
                    ({{ video.duration_string }})<br>
                    <a href="/channel/{{ video.channel_id }}">{{ video.name }}</a><br>
                    {{ video.upload_date }}
                    &middot;
                    {{ crate::structures::util::view_count_to_string(video.view_count) }} views
                    {% if likes_dislikes_on_channel_page -%}
                    &middot;
                        {% if let Some(likes) = video.likes -%}
                    {{ crate::structures::util::follower_count_to_string(likes) }} &#x25B4;
                        {% endif -%}
                        {% if let Some(dislikes) = video.dislikes -%}
                    {{ crate::structures::util::follower_count_to_string(dislikes) }} &#x25BE;
                        {% endif -%}
                    {% endif -%}
                </li>
                {% endfor -%}
            </ul>
        </main>
    </body>
</html>
