<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <h1>Channels</h1>
            <div class="box">
                <div class="left">
                    <a href="/feed">[Feed]</a>
                </div>
                <div class="right">
                    <a href="/preferences">[Preferences]</a>
                    <a href="/scan">[Scan]</a>
                </div>
            </div>
            <hr>
            <ul>
                {% for ytchannel in channels -%}
                <li><a href="/channel/{{ ytchannel.id }}">{{ ytchannel.name }}</a></li>
                {% endfor -%}
            </ul>
        </main>
    </body>
</html>
