<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% if show_avatars -%}
        <link rel="stylesheet" type="text/css" href="/static/thumbnail.css">
        {% endif -%}
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <h1>Channels</h1>
            <div class="box">
                <div class="left">
                    <a href="/feed">[Feed]</a>
                </div>
                <div class="right">
                    <a href="/preferences">[Preferences]</a>
                    <a href="/scan">[Scan]</a>
                </div>
            </div>
            <hr>
            <ul class="videos">
                {% for channel in channels -%}
                    {% if show_avatars -%}
                    {% let encoded_channel = channel.sanitized_name|urlencode -%}
                <a href="/channel/{{ channel.id }}">
                    <li class="thumbnail" style="margin-bottom: 1em;">
                        <div class="box" style="align-items: left;">
                            <div class="pfp">
                                <img width="50px" src="/thumbnails/channel/{{ channel.id }}">
                                {{ channel.name }}
                            </div>
                        </div>
                    </li>
                </a>
                    {% else -%}
                <li>
                    <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                </li>
                    {% endif -%}
                {% endfor -%}
            </ul>
        </main>
    </body>
</html>
