<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scan | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    <a href="/scan">scan</a>
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <h1>Scan</h1>
            <div class="box">
                <div class="left">
                    <a href="/scan">[Scan]</a>
                    <a href="/scan?overwrite=true">[Force Scan]</a>
                </div>
            </div>
            <hr>
            {{ status }}
            {% if let Some(progress) = progress -%}
            <ul>
                <li>
                    <div class="box">
                        <div class="left">Stage</div>
                        <div class="right">{{ progress.stage }}</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="left">Elapsed</div>
                        <div class="right">{{ progress.elapsed }}</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="left">Channels</div>
                        <div class="right">{{ progress.channels_done }} / {{ progress.channels_total }}</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="left">Videos</div>
                        <div class="right">{{ progress.videos_scanned }} scanned, {{ progress.videos_added }} added</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="left">Thumbnails</div>
                        <div class="right">{{ progress.thumbnails }} generated</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="left">Likes/dislikes</div>
                        <div class="right">{{ progress.dislikes_done }} / {{ progress.dislikes_total }}</div>
                    </div>
                </li>
            </ul>
            {% endif -%}
        </main>
        {% include "footer.html" %}
    </body>
</html>
