<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scan | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    <a href="/scan">scan</a>
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            <h1>Scan</h1>
            <div class="box">
                <div class="left">
                    <a href="/scan">[Scan]</a>
                    <a href="/scan?overwrite=true">[Force Scan]</a>
                    <a href="/scan?dislikes=true">[Dislikes]</a>
                    <a href="/scan?thumbnails=true">[Thumbnails]</a>
                    <a href="/scan?thumbnails=true&overwrite=true">[Force Thumbnails]</a>
                </div>
            </div>
            <hr>
            {{ status }}
        </main>
    </body>
</html>
