<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ video.title }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <div class="box">
                <div class="left">
                    <a href="/">[ytars]</a>
                    &gt;
                    {% let path -%}
                    {% if feed -%}
                        {% let path = "/feed"|format() -%}
                    {% else -%}
                        {% let path = "/channel/{}"|format(channel.id) -%}
                    {% endif -%}
                    <a href="{{ path }}">{% if feed %}feed{% else %}{{ channel.name }}{% endif %}</a>
                    {% match video.video_type -%}
                        {% when VideoType::Short -%}
                    &gt;
                    <a href="{{ path }}?video_type=Short">Shorts</a>
                        {% when VideoType::Stream -%}
                    &gt;
                    <a href="{{ path }}?video_type=Stream">Streams</a>
                        {% when VideoType::Video -%}
                    {% endmatch -%}
                    &gt;
                    <a href="/watch?v={{ video.id }}{% if feed %}&feed=true{% endif %}">{{ video.title }}</a>
                </div>
                <div class="right search">
                    <form action="/search" method="get">
                        <input type="text" id="query" name="query" placeholder="Search">
                    </form>
                </div>
            </div>
        </header>
        <main>
            {% let class -%}
            {% match video.video_type -%}
                {% when VideoType::Short -%}
                    {% let class = "short" -%}
                {% else -%}
                    {% let class = "video" -%}
            {% endmatch -%}
            {% let encoded_channel = channel.sanitized_name|urlencode -%}
            {% let encoded_filename = video.filename|urlencode -%}
            {% let encoded_filestem = video.filestem|urlencode -%}
            <video class="{{ class }}" poster="/files/{{ encoded_channel }}/{{ encoded_filestem }}.webp" controls preload="none">
                <source src="/files/{{ encoded_channel }}/{{ encoded_filename }}" />
                <track src="/files/{{ encoded_channel }}/{{ encoded_filestem }}.en.vtt" kind="subtitles" srclang="en" label="English" />
            </video>
            <h1>{{ video.title }}</h1>
            <h4>{{ upload_date }}</h4>
            <div class="box">
                <div class="left pfp">
                    <img width="50px" src="/files/{{ encoded_channel }}/{{ encoded_channel }}%20-%20Videos%20[{{ channel.id }}].jpg">
                    <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                </div>
                <div class="right">
                    <a href="/files/{{ encoded_channel }}/{{ encoded_filename }}" download>[Download]</a>
                    <a target="_blank" href="https://www.youtube.com/watch?v={{ video.id }}">[Open on YouTube]</a>
                </div>
            </div>
            <hr>
            {% if let Some(text) = video.description -%}
            <details>
            <summary>Description</summary>
            {{ text|markdown }}
            </details>
            {% endif -%}
        </main>
    </body>
</html>
