<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ video.title }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <a href="/">[ytars]</a>
            &gt;
            <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
            {% match video.video_type -%}
                {% when VideoType::Short -%}
            &gt;
            <a href="/shorts/{{ channel.id }}">Shorts</a>
                {% when VideoType::Stream -%}
            &gt;
            <a href="/streams/{{ channel.id }}">Streams</a>
                {% when VideoType::Video -%}
            {% endmatch -%}
            &gt;
            <a href="/watch?v={{ video.id }}">{{ video.title }}</a>
        </header>
        <main>
            {% let width -%}
            {% match video.video_type -%}
                {% when VideoType::Short -%}
                    {% let width = "50%" -%}
                {% else -%}
                    {% let width = "100%" -%}
            {% endmatch -%}
            {% let encoded_channel = channel.sanitized_name|urlencode -%}
            {% let encoded_filename = video.filename|urlencode -%}
            {% let encoded_filestem = video.filestem|urlencode -%}
            <video poster="/files/{{ encoded_channel }}/{{ encoded_filestem }}.webp" width="{{ width }}" controls preload="none">
                <source src="/files/{{ encoded_channel }}/{{ encoded_filename }}" />
                <track src="/files/{{ encoded_channel }}/{{ encoded_filestem }}.en.vtt" kind="subtitles" srclang="en" label="English" />
            </video>
            <h1>{{ video.title }}</h1>
            <h4>{{ upload_date }}</h4>
            <div class="box">
                <img width="50px" src="/files/{{ encoded_channel }}/{{ encoded_channel }}%20-%20Videos%20[{{ channel.id }}].jpg">
                <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                <div class="right">
                    <a href="/files/{{ encoded_channel }}/{{ encoded_filename }}" download>[Download]</a><a target="_blank" href="https://www.youtube.com/watch?v={{ video.id }}">[Open on YouTube]</a>
                </div>
            </div>
            <hr>
            {% if let Some(text) = video.description -%}
            <details>
            <summary>Description</summary>
            {{ text|markdown }}
            </details>
            {% endif -%}
        </main>
</html>
