<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ video.title }} | Ytars</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <a href="/">[ytars]</a>
            &gt;
            <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
            &gt;
            <a href="/watch?v={{ video.id }}">{{ video.title }}</a>
        </header>
        <main>
            {% let width -%}
            {% match video.video_type -%}
                {% when VideoType::Short -%}
                    {% let width = "50%" -%}
                {% else -%}
                    {% let width = "100%" -%}
            {% endmatch -%}
            <video poster="/files/{{ channel.sanitized_name|urlencode }}/{{ video.filestem|urlencode }}.webp" width="{{ width }}" controls preload="none">
                <source src="/files/{{ channel.sanitized_name|urlencode }}/{{ video.filename|urlencode }}" />
                <track src="/files/{{ channel.sanitized_name|urlencode }}/{{ video.filestem|urlencode }}.en.vtt" kind="subtitles" srclang="en" label="English" />
            </video>
            <h1>{{ video.title }}</h1>
            <h4>{{ upload_date }}</h4>
            <div class="box">
                <img class="pfp" width="50px" src="/files/{{ channel.sanitized_name|urlencode }}/{{ channel.sanitized_name|urlencode }}%20-%20Videos%20[{{ channel.id }}].jpg">
                <a href="/channel/{{ channel.id }}">{{ channel.name }}</a>
                <a class="right" target="_blank" href="https://www.youtube.com/watch?v={{ video.id }}">[Open on YouTube]</a>
            </div>
            <hr>
            {% if let Some(text) = video.description -%}
            <details>
            <summary>Description</summary>
            {{ text|markdown }}
            </details>
            {% endif -%}
        </main>
</html>
